<!doctype html>
<html ng-app="sn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>InstaThink</title>

  <link rel="stylesheet" href="public/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="public/vendor/font-awesome/css/font-awesome.min.css" type="text/css">

  <!-- <link rel="stylesheet" href="../public/css/sb-admin-2.css" type="text/css"> -->
  <link rel="stylesheet" href="public/css/instathink.css" type="text/css">
</head>
<body>
#friend
#user
<div class="wrap box">
  <div class="row row-offcanvas row-offcanvas-left">
    
    <!-- sidebar -->
    <div id="sidebar" class="column col-sm-2 col-xs-1 sidebar-offcanvas" >
        
      <ul class="nav">
         <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
         </ul>
         
          <ul class="nav hidden-xs" id="lg-menu">
              <li><a href="/profile"><i class="fa fa-smile-o"></i> My Profile</a></li>
              <li class="active"><a href="/newfeed"><i class="fa fa-newspaper-o"></i> New Feed</a></li>
              <li><a href="/setting"><i class="fa fa-gear"></i> User Setting</a></li>    
              <li><a href="/logout"><i class="fa fa-sign-out"></i> Sign out</a></li>  
          </ul>
          <ul class="list-unstyled hidden-xs" id="sidebar-footer">
              <li>
                <a href="/"><h3>Instathink</h3> <i class="fa fa-heart-o"></i> You</a>
              </li>
          </ul>
        
          <!-- tiny only nav-->
          <ul class="nav visible-xs" id="xs-menu">
              <li><a href="/profile" class="text-center"><i class="fa fa-smile-o"></i></a></li>
              <li><a href="/newfeed" class="text-center"><i class="fa fa-newspaper-o"></i></a></li>
              <li><a href="/setting" class="text-center"><i class="fa fa-gear"></i></a></li>
              <li><a href="/logout" class="text-center"><i class="fa fa-sign-out"></i></a></li>
          </ul>
        
    </div>
    <!-- /sidebar -->

    <!-- main -->
    <div class="column col-sm-10 col-xs-11" id="main">  

      <!-- Top nav bar -->
      <div id="topnavbar" ng-controller="TopController as topCtrl">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          
          <div class="navbar-header">
              <a href="/profile"><img class="avatar pull-left" src="image/getimage/{{topCtrl.Avatar}}" style="margin: 5px;"></a>
              <a class="navbar-brand" href="/profile">{{topCtrl.DisplayName}}</a>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input ng-model="topCtrl.searchName" type="text" class="form-control" placeholder="Search">
                </div>
                <button ng-click="topCtrl.search()" type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </form>
          </div>

          <!-- /.navbar-header -->
          <ul class="nav navbar-top-links navbar-right">

              <!-- Friend request -->
              <li class="dropdown" ng-init="topCtrl.initRequest()">
                  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user fa-fw fa-2x"></i>
                      <span class="badge badge-notify">{{topCtrl.requestNumber}}</span>
                  </a>
                  <ul class="dropdown-menu dropdown-messages scrollable">
                      <li><strong>Friend Requests</strong></li>
                      <li class="divider"></li>

                      <!-- items -->
                      <li ng-repeat="request in topCtrl.requests">
                          <div class="chat-person">
                              <div class="media">
                                <img class="pull-left avatar" src="image/getimage/{{request.Avatar}}">
                                <div class="media-body">
                                  <a href="friendprofile?namefriend={{request.Username}}"><h4 class="media-heading">{{request.DisplayName}}</h4></a>
                              </div>
                          </div>
                      </li>
                      
                      <!-- /items -->
                  </ul>
              </li>

              <!-- Messages -->
              <li class="dropdown" ng-init="topCtrl.initMessage()">
                  <a ng-click="topCtrl.clickMessage()" class="dropdown-toggle active" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-envelope fa-fw fa-2x"></i>
                      <span class="badge badge-notify">{{topCtrl.messageNumber}}</span>
                  </a>
                  <ul class="dropdown-menu dropdown-messages in scrollable">
                      <li><strong>Messages</strong></li>
                      <li class="divider"></li>
                      <!-- items -->
                      <li ng-repeat="message in topCtrl.messages">
                          <a href="chat?namefriend={{message.Username}}" class="active">
                              <div class="media">
                                <img class="pull-left avatar" src="image/getimage/{{message.Avatar}}">
                                <div class="media-body">
                                  <h4 class="media-heading">{{message.DisplayName}}</h4>
                                  {{message.LastMessage}}
                                  <p>{{message.Time}}</p>
                                </div>
                              </div>
                          </a>
                      </li>
                      <!-- /items -->
                  </ul>
              </li>

              <!-- Notifications -->
              <li ng-init="topCtrl.initNotification()" class="dropdown">
                  <a ng-click="topCtrl.clickNotification()" href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-globe fa-fw fa-2x"></i>
                      <span class="badge badge-notify">{{topCtrl.notificationNumber}}</span>
                  </a>
                  <ul class="dropdown-menu dropdown-messages in scrollable">
                      <li><strong>Notifications</strong></li>
                      <li class="divider"></li>
                      <!-- items -->
                      <li ng-repeat="notification in topCtrl.notifications">
                          <a href="postdetail?id={{notification.Link}}" class="active">
                              <div class="media">
                                <img class="pull-left" src="image/getimage/{{notification.Image}}">
                                <div class="media-body">
                                  <h4 class="media-heading">{{notification.Description}}</h4>
                                  {{notification.Time}}
                                </div>
                              </div>
                          </a>
                      </li>
                      <!-- /items -->
                  </ul>
              </li>
              
          </ul>
        </nav>
      </div>
      <!-- /top navbar -->



      <!-- Main Content -->
      <div id="main-content" class="full padding">
          <div class="row">
            <!-- tabs -->
            <ul class="nav nav-pills" style="padding:15px">
              <li role="presentation" class="active"><a href="profile">Timeline</a></li>
              <li role="presentation" ><a href="photos">Photos</a></li>
              <li role="presentation" ><a href="friends">Friends</a></li>
            </ul>  
          </div>

          <div class="row">

            <!-- Content -->
            <div ng-controller="PostController as postCtrl" class="col-sm-7">
              <div ng-hide="postCtrl.hide">
                <form name="postnewform" class="form-horizontal" role="form">
                  <input id="inUsername" type="text" value="#{user.Username}">
                  <input id="inPassword" type="text" value="#{user.Password}">
                  <input id="inId" type="text" value="#{user._id}">
                  <input id="inNameFriend" type="text" value="#{friend.name}">
                  <input id="inDisplayName" type="text" value="#{user.DisplayName}">
                  <input id="inAvatar" type="text" value="#{user.Avatar}">
                </form>
              </div>
              
              <!-- Friends feed -->
              <div ng-init="postCtrl.init()">
                <div ng-show="postCtrl.feedShow" class="panel panel-default" ng-repeat="post in postCtrl.listPost">
                   <div class="media panel-heading post-heading">
                      <a class="pull-left" href="#">
                        <img class="avatarPost" src="image/getimage/{{post.Avatar}}">
                      </a>
                      <div class="media-body post-info">
                          <h4 class="media-heading">{{post.DisplayName}}</h4>
                          <p>{{post.CreateDate}}</p>
                      </div>
                    </div>
                    <div class="panel-body">
                      <img class="photoPost" ng-show='post.Image' src='image/getimage/{{post.Image}}'>
                      <div class="post-body" >
                        <p>
                          {{post.Body}}
                        </p>
                      </div>
                      <div class="clearfix"></div> 
                      
                    </div>
                    
                    <div class="panel-bottom">
                      <div class="like-share">                       
                        <div class="like-button">
                            <a ng-click="postCtrl.addLike(post._id)" href="#">{{post.numLike}} Like <i class="fa fa-thumbs-up"></i></a>
                          </div>
                          <div class="share-button">
                            <a href="#">  Share <i class="fa fa-share-square-o"></i></a>
                          </div>
                      </div>
                      <form>
                          <input ng-enter='postCtrl.newComment(post._id)' ng-model='postCtrl.newCommentBody' type="textarea" class="form-comment form-control" placeholder="Add a comment..">
                      </form>
                    </div>

                    <div class="panel-bottom panel-comments">

                      <!-- comment items -->

                      <div ng-repeat="comment in post.ListComments" class="media panel-heading">
                        <a class="pull-left" href="#">
                          <img class="avatar" src="image/getimage/{{comment.Avatar}}">
                        </a>
                        <div class="media-body comment-info">
                          <h4 class="media-heading">{{comment.DisplayName}}</h4>
                          <p>{{comment.CreateDate}}</p>
                          <div class="comment-body" >
                            <p>{{comment.Body}}</p>
                          </div>
                          <br>
                          <a href="#" style="color: #2a6496">Like <i class="fa fa-thumbs-up"></i></a>
                        </div>
                        
                      </div>
                    </div>
                </div>
                 <!-- new feed -->

              </div>
                
            </div>
            <!-- /Content -->



            <!-- Info pane -->
            <div class="col-sm-5" ng-controller="ProfileController as profileCtrl">
              <!-- user's info -->
              <div class="panel panel-default" ng-init="profileCtrl.init()">
                <div class="panel-heading">
                  <img class="pull-left" src="image/getimage/{{profileCtrl.Avatar}}">
                  <h4>{{profileCtrl.DisplayName}}</h4>
                </div>
                <div class="user-info panel-body">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home">{{profileCtrl.Email}}</i></li>
                    <li><i class="fa fa-child"></i>{{profileCtrl.DateOfBirth}}</li>
                  </ul>
                  
                </div>
              </div>
              <!-- /user's info -->

              <div class="col-sm-5" ng-controller="RequestController as requestCtrl">
                <div ng-init="requestCtrl.init()">
                  <button class="btn btn-default" ng-show="requestCtrl.showSendButton" ng-click="requestCtrl.sendRequest()">Add Friend</button>
                  <button class="btn btn-default" ng-show="requestCtrl.showAcceptButton" ng-click="requestCtrl.acceptRequest()">Accept</button>
                  <button class="btn btn-default" ng-show="requestCtrl.showDeleteButton" ng-click="requestCtrl.deleteRequest()">Unfriend</button>
                  <p ng-show="requestCtrl.showWaiting">Friend Request Sent</p>
                </div>
              </div>

            </div>
            <!-- /info pane -->
          </div>
          
          <!-- row -->
      </div><!-- /main content -->  



    </div>
    <!-- /main -->

  </div>
  <!-- /row -->

</div>
<!-- /wrap box -->

<script src="public/vendor/jquery/jquery.min.js"></script>
<script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="public/vendor/angular/angular.min.js"></script>
<script src="public/vendor/angular-ui-router/angular-ui-router.min.js"></script>
<script src="public/vendor/holderjs/holder.js"></script>
<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/instathink.js"></script>
<script src="public/js/angular-file-upload.js"></script>
<script src="public/js/angular-file-upload.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/moment.js"></script>
<script>
    moment().format();
</script>
<script src="public/js/friend-profile.js"></script>
</body>
</html>
